.title {
    font-weight: 700;
    color: #f58a42;
    font-size: xxx-large;
    padding: 16px;
}

.header {
    display: flex;
    justify-content: center;
}

.goals {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 16px;
}

.main {
    display: flex;
    flex-direction: column;
}

.goal-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.add-button {
    max-width: 400px;
    width: 100%;
    margin-top: 16px;
}

.mat-display-1 {
    margin: 0px;
}